STM32-SPI/SPI_REG/Core/Inc/** linguist-vendored
STM32-SPI/SPI_REG/Core/Startup/** linguist-vendored
STM32-SPI/SPI_REG/.settings/** linguist-vendored
STM32-SPI/SPI_REG/Debug/** linguist-vendored
STM32-SPI/SPI_REG/Drivers/** linguist-vendored
STM32-SPI/SPI_REG/.cproject** linguist-vendored
STM32-SPI/SPI_REG/.mxproject** linguist-vendored
STM32-SPI/SPI_REG/.project** linguist-vendored
STM32-SPI/SPI_REG/SPI_REG Debug.launch** linguist-vendored
STM32-SPI/SPI_REG/SPI_REG.ioc** linguist-vendored
