Core/Inc/** linguist-vendored
Core/Startup/** linguist-vendored
.settings/** linguist-vendored
Debug/** linguist-vendored
Drivers/** linguist-vendored
.cproject** linguist-vendored
.mxproject** linguist-vendored
.project** linguist-vendored
SPI_REG Debug.launch** linguist-vendored
SPI_REG.ioc** linguist-vendored
